.logoutForm {
  position: fixed;
  top: 10px;
  right: 10px;
}

.logoutForm button {
  padding: 1vh 1vw;
  background-color: rgb(86, 86, 255);
  color: white;
}

.logoutForm button:hover {
  cursor: pointer;
}
