.section {
  min-height: 15vh;
  width: 80vw;
  margin: 5vh 10vw;
  padding: 30px;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
}

.sectionArtefacts {
  display: block;
  height: 100%;
  position: relative;
}

.section h3 {
  width: 100%;
  margin: 0 0 10px 0;
  text-transform: capitalize;
}

.artefact {
  background-color: lightgray;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  height: 10vh;
  width: 8vh;
  margin: 10px;
}

.addArtefact {
  position: absolute;
  right: 0;
  display: inline-block;
  border-radius: 3px;
  height: 10vh;
  width: 8vh;
  margin: 10px;
}