.uploadForm {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);
  padding: 50px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 12px 16px;
}

.closeButton:hover {
  background: rgb(210, 210, 210);
}

.uploadingStatus {
  height: 50px;
}

.uploadingStatus p {
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  margin: 0;
  color: rgb(86, 86, 255);
}

.title {
  font-size: 25px;
  margin: 0 0 30px 0;
  text-align: center;
}

.uploadForm > form {
  position: relative;
  padding-bottom: 30px;
}

.submitButton {
  position: absolute;
  right: 0;
}

.separator {
  margin: 30px 0 30px 0;
  text-align: center;
  font-weight: bold;
}

.urlInput {
  width: 75%;
}